
@{
    ViewData["Title"] = "ErrorQuantity";
}
<body>
    <div class="container text-center">
        <div class="content-404">
            <img src="~/images/checkout/404.png" class="img-responsive" alt="" />
            <h1><b>OPPS!</b> Hết hàng rồi bạn eiii !! </h1>
            <p>Mong bạn chờ tui nhập hàng xong rồi ghé ủng hộ nhé !!</p>
            <h2><a asp-controller="Home" asp-action="Index">Bring me back Home</a></h2>
        </div>
    </div>


    <script src="js/jquery.js"></script>
    <script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
