@{
    ViewData["Title"] = "CheckoutCompleted";
}
<div class="container mb-3">
    <div class="step-one">
        <h2 class="heading font-weight-bold text-center">
            Your payment was successful
        </h2>
    </div>
    <p class="text-center">We sent verify email to you  . <br /> Please check it and contact us if you have any question</p>
    <img src="~/images/thanks.jpg" />
</div>
